:root {
  --main-bg-color: black;
  --main-fg-color: white;
  --main-font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  --main-outline-color: #333337;
  --accent-color: #DC6141;
}