/* Variables
    Main background color: var(--main-bg-color);
    Main foreground color: var(--main-fg-color);
    Main font family: var(--main-font-family);
    Main outline color: var(--main-outline-color);
*/
html {height: 100%;}

body {
    height: 100%;
    z-index: 0;
 }

.content {
    display: block;
}

.verse-container {
    flex: 1;
    display: flex;
    align-items: var(--verse-alignment);
    justify-content: center;
}
.instruction {
    color: gray;
    font-style: italic;
}

#verse-area, .verse-menu-button {
	font-family: var(--main-font-family);
	background: var(--main-bg-color);
	outline: none;
	padding: 0;
	color: var(--main-fg-color);
	text-align: center;
	font-size: var(--verse-font-size);
	line-height: var(--verse-line-spacing);
	width: 100%;
 }

#verse-area {
    border:dashed;
    border-width: 1px;
}

#context-menu {
    position: absolute;
    z-index: 1000;
}

.dropdown-button
{
    display: none;
    width: 150px;
}

.chord {
	font-family: var(--main-font-family);
	font-size: var(--chord-font-size);
    line-height: var(--chord-font-size);
	position: absolute;
	color: magenta;
 }

.has-chord {background: var(--main-outline-color);}

.contains-chord {margin-top: var(--chord-font-size);}


.side-menu {
	width: 200px;
	height: 100%;
	background-color: gray;
 }

p {margin: 0;}

.button-container {
	height: 100px;
	background: var(--main-bg-color);
	margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
	cursor: pointer;
    border: 3px solid var(--main-bg-color);
 }

.selected {
	border: 3px solid var(--accent-color);
    padding: 0;
 }

.verse-menu-label {
    position: absolute;
    overflow: visible;
    color: white;
    text-align: left;
    padding: 0 12px 70px 12px;
    font-size: 10px;
    width: 100%;
    pointer-events:none;
}
.verse-menu-label div {
    pointer-events:none;
}
.verse-menu-label span {
    background-color: var(--accent-color);
    padding: 2px 5px 2px 5px;
    pointer-events:none;
}
.verse-menu-label i {
    display: inline;
    pointer-events:none;
}

.verse-menu-button {
	width: calc(100% - 10px);
	font-size: calc(var(--verse-font-size) * .15);
	line-height: calc(var(--verse-line-spacing) * .15);
	user-select: none;
    pointer-events:none;
 }

	.verse-menu-button .has-chord {background: none;}

	.verse-menu-button .contains-chord {margin-top: 0;}

#title-menu-item, #title-menu-item a, #title-menu-item i {
    height: 64px;
    line-height: 64px;
    font-size: 2.1rem;
}
.side-nav li.title-menu-item>a>i.material-icons {
    height: 64px;
    line-height: 64px;
}

.row {
    margin-bottom: 0;
}

.header-sort {
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

.collection {
    user-select: none;
}

.collection-item .row .col {
    height: 22px;
}

.book-card {
    margin: 15px;
    padding: 0;
}


.row .col {
    padding: 0;
}

#book-cover-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.book-info {
    margin: 20px;
}

#search-results {
    z-index: 100;
    background: white;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
    display: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#search-results .collection-item {
    border-bottom: none;
}

#search-results .collection-item i {
    line-height: 1.5rem;
    height: 1.5rem;
    display: inline;
}

.collection a.collection-item:not(.active):hover, .collection .collection-item.active {
    background-color: #ddd;
    color: #616161;
}
    .collection a.collection-item:not(.active):hover .song-more-button, .collection .collection-item.active .song-more-button {
        opacity: 100;
    }
    .collection a.collection-item .song-more-button {
        margin-right: 25px;
        opacity: 0;
        float: right;
        display: inline;
        height: 22px;
    }
.book-title-link {
    color: #000;
}

.collection a.collection-item {
    color: #616161;
}
.book-title-link:hover {
    text-decoration: underline;
}

.song-title {
    display: inline-block;
    width: calc(100% - 75px);
}

.dropdown-song-button, .dropdown-playlists-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}